@import '/src/assets/scss/base/variables';

header {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: end;
  padding: 10px;
  position: fixed;
  background: #CDD531;
  box-shadow: 0px 1px 3px #00000029;
  z-index: 9999;

  .user-info {
    display: flex;
    align-items: center;
    margin-right: 3%;

    .icon {
      color: $grey2;
      margin: 0 5px;
    }

    .name {
      text-transform: capitalize;
      color: $black;
      margin: 0;
    }

    .role {
      color: $grey-lightest;
      margin: 0;
      font-size: 12px;
    }


  }
}