@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

body {
  font-family: 'Poppins', Inter, Avenir, Helvetica, Arial, sans-serif !important;
}

.f-100 {
  font-weight: 100 !important;
}

.f-300 {
  font-weight: 300 !important;
}

.f-400 {
  font-weight: 400 !important;
}

.f-500 {
  font-weight: 500 !important;
}

.f-600 {
  font-weight: 600 !important;
}

.f-bold {
  font-family: 'Poppins-Bold';
}

.f-semibold {
  font-family: 'Poppins-SemiBold';
}

.f-light {
  font-family: 'Poppins-Light';
}

.f-medium {
  font-family: 'Poppins-Medium';
}