/* color palette  */

$color-body: #F6F9FB;
$color-secondary: #0B4A75;
$general: #c3d730;
$color-title: #464749;
$color-text: #344563;

$black: #000000;
$grey: #344563;
$grey2: #6B778C;
$grey-light: #637381;
$grey-lightest: #8E989D;
$gray-light: #DFE4E8;
$gray-lightest: #FAFBFC;
$gray-light-clear: #AAAAAA;

/* States */
$grey-state-light: #C1C7D0;
$grey-state-lightest: #DFE1E6;

$blue-state: #0052CC;
$blue-state-light: #B3D4FF;
$blue-lightest: #F6F9FB;
$grey4: #E5EDFA;
$blue-state-lightest: #E1EDFF;
$blue-light: #DFECFC;
$blue-dark: #344563;
$blue-mesage: #336DEC;
$blue-light-table: #EFF5FF;

$green-clear: #29D884;
$green-selected: #F4FDF9;
$green-check: #28D07B;
$green-state: #006644;
$green-light: #94EBC1;
$green-state-light: #ABF5D1;
$green-state-lightest: #E3FCEF;

$white: #ffffff;
$whitesmoke: #97A0B0;
$whitesmoke2: #C1C7D0;
$whitesmoke3: #6B778C;

$yellow-light: #FFEBD2;

$red-pill: #FF4633;
$red-pill-light: #FF46331C;
$terracota: #FFA299;

$orange: #FF991F;
$orange-light: #FFFAF3;
$orange-dark: #FF991F1C;
$orange-lightest: #FF991F0D;

$purple-state: #6600CC;

$shadow: #00000029;
$shadow-dark: #00000080;