.login-container{

  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/img/fondo1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .pez{
    position: absolute;
    width: 150px;

    &:nth-child(1) {
      left: 200px;
      bottom: 20px;
      animation: pez1 10s linear infinite; 
    }

    &:nth-child(2) {
      right: 20px;
      top: 20px;
      width: 100px;
      animation: pez2 40s linear infinite;
    }

    &:nth-child(3) {
      left: -10px;
      top: 400px;
      width: 100px;
      animation: pez3 20s linear infinite;
    }

    &:nth-child(4) {
      right: 10px;
      bottom: 10px;
      width: 100px;
      animation: pez4 60s linear infinite;
    }

    &:nth-child(5) {
      left: -120px;
      top: -100px;
      width: 120px;
      animation: pez5 50s linear infinite;
    }

    &:nth-child(6) {
      left: 120px;
      top: 100px;
      width: 120px;
      animation: pez6 30s linear infinite;
    }
  }



  .login {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FAFAFA50;
    padding: 30px 40px;
    border-radius: 50px;
    backdrop-filter: blur(.7em);
    text-align: center;

    animation: animationLogin .8s linear;

    img {
    position: relative;
    width: 300px;
    margin-right: 40px;
    }
  }

  .btn-login {
    padding: 15px 30px;
    background: #C3D730;
    color: #FAFAFA;
    border-radius: 50px;
    border: none;
    font-size: 18px;
  }
  
}


@keyframes pez1 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translate(2000px, -200px);
  }
}

@keyframes pez2 {

  100% {
    transform: translate(-1000px, 200px);
  }
}

@keyframes pez3 {
  0% {
    transform: translateX(0%);
  }


  100% {
    transform: translate(2000px, 100px);
  }
}

@keyframes pez4 {

  100% {
    transform: translate(-3000px, -600px);
  }
}

@keyframes pez5 {

  100% {
    transform: translate(3000px, 600px);
  }
}

@keyframes pez6 {

  100% {
    transform: translate(3000px, -100px);
  }
}

@keyframes animationLogin {
  0% {
    transform: translateX(400px);
  }
}