.sidebar {
  width: 220px;
  background-image: url(../../../../assets/UTS_Image.jpg);
  background-size: cover;
  height: 100vh;
  overflow: auto;
  position: relative;
  z-index: 10000;


  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 30px;
  }

  .cap {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    height: 100%;
    z-index: -1;
  }

  .title-sidebar {
    text-align: center;
    font-weight: 600;
    color: beige;
    padding: 10px 0;
  }

  nav {

    width: 100%;
    padding: 15px;
    margin: 20px 0 0 0;



    section {
      margin: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: column;


      .title-section {
        font-size: 18px;
        color: #9e9e9e;
        text-transform: uppercase;
        font-weight: 600;
      }

      .active {
        background: rgba(255, 255, 255, .2) !important;
      }

      .link-container {

        padding: 5px 4px;
        border-radius: 4px;
        transition: .5s;
        text-decoration: none;
        width: 100%;
        color: #DFE4E8;
        margin: 5px;
        font-weight: 400;
        font-size: 16px;

        &:hover {
          background: rgba(255, 255, 255, .2);
        }

        .icon {
          color: #DFE4E8;
          margin-right: 15px;
        }

      }
    }


  }
}