.ideas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn .2s linear;

  .title-section {
    font-size: 32px;
    font-weight: bold;
    text-align: start;
  }

}


@media (max-width:767px) {}