@import '../../../../../../../../assets/scss/main.scss';

.accordion-item {
  border: none !important;
  margin: 5px 0;
  width: 100%;
  display: flex;
  flex-direction: column;


  .accordion-header {
    .accordion-button {
      background: #fff;
      box-shadow: 0px 3px 6px #0000001a;
      position: relative;
      // border-radius: 10px !important;
      color: #344563;
      font-size: 18px;
      font-weight: 500;

      &::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        background-color: $color-secondary;
        bottom: 0;
        left: 0;
        animation: animationTab .2s linear;
      }

      &.collapsed {
        &::before {
          width: 0 !important;
        }
      }

    }
  }

  .accordion-body {
    font-size: 14px;
    color: #344563;
    position: relative;
    z-index: 777;

    p {
      span {
        font-weight: bold;
      }
    }

    .tag {
      border: 1px solid;
      width: max-content;
      padding: 1px 3px;
      font-size: 12px;
      border-radius: 4px;

      margin-top: 3px !important;
      user-select: none;

      &.Monografía {
        color: #0B4A75;
        border-color: #0B4A75;
        background: #0B4A7510;
      }

      &.Monografía {
        color: #f59e0b;
        border-color: #f59e0b;
        background: #f59e0b10;
      }

      &.Emprendimiento {
        color: #84cc16;
        border-color: #84cc16;
        background: #84cc1610;
      }

      &.Desarrollo {
        color: #0ea5e9;
        border-color: #0ea5e9;
        background: #0ea5e910;
      }
    }
  }
}


@keyframes animationTab {
  0% {
    width: 0%;
  }
}